# Para correções.
RAD/correcao_trabalhos/
banco.db
log.txt
login_log.txt
tarefas.db
usuarios.db
company_management.db
login.txt
tasks.db
cadastro_alunos.db
estoque.sqlite
gerenciamento.db
log_acesso.txt